#!/usr/bin/make -f
# -*- makefile -*-
# Synchronet package debian/rules.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) -C src/sbbs3 DEBUG=1 JSLIB=mozjs USE_DOSEMU=1
	$(MAKE) -C src/sbbs3/scfg DEBUG=1
#	$(MAKE) -C src/sbbs3/menuedit	
	$(MAKE) -C src/sbbs3/syncview
	$(MAKE) -C src/sbbs3/umonitor
	$(MAKE) -C src/sbbs3/uedit
	#

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) -C src/sbbs3 clean
	-$(MAKE) -C src/sbbs3/scfg clean
#	-$(MAKE) -C src/sbbs3/menuedit clean
	-$(MAKE) -C src/sbbs3/syncview clean
	-$(MAKE) -C src/sbbs3/umonitor clean
	-$(MAKE) -C src/sbbs3/uedit clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/synchronet.
	#HW := $(shell uname -m) && echo "HW =" $$HW
	dh_install src/conio/gcc.linux.$(shell uname -m).lib.debug/libciolib_mt.a usr/lib/synchronet
	dh_install src/smblib/gcc.linux.$(shell uname -m).lib.debug/libsmb.a usr/lib/synchronet
	dh_install src/uifc/gcc.linux.$(shell uname -m).lib.debug/libuifc_mt.a usr/lib/synchronet
	dh_install src/xpdev/gcc.linux.$(shell uname -m).lib.debug/libxpdev* usr/lib/synchronet
	dh_install src/sbbs3/gcc.linux.$(shell uname -m).lib.debug/lib* usr/lib/synchronet
	dh_install src/sbbs3/gcc.linux.$(shell uname -m).exe.debug/* usr/lib/synchronet
	dh_install src/sbbs3/scfg/gcc.linux.$(shell uname -m).exe.debug/scfg* usr/lib/synchronet
#	dh_install src/sbbs3/menuedit/gcc.linux.$(shell uname -m).exe.debug/menuedit usr/lib/synchronet
	dh_install src/sbbs3/syncview/gcc.linux.$(shell uname -m).exe.debug/syncview usr/lib/synchronet
	dh_install src/sbbs3/uedit/gcc.linux.$(shell uname -m).exe.debug/uedit usr/lib/synchronet
	dh_install src/sbbs3/umonitor/gcc.linux.$(shell uname -m).exe.debug/umonitor usr/lib/synchronet


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installinit
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
